@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;

.pagination-container {
  @include flex-center();
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 25px;
  padding: 15px;
  background-color: var(--color-background-light);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-small);

  .pagination-info {
    font-size: var(--font-size-base);
    color: var(--color-text-secondary);
    white-space: nowrap;
  }

  .pagination-controls {
    display: flex;
    gap: 5px;

    button {
      min-width: 40px;
      padding: 0 8px;
      font-size: var(--font-size-base);
      height: 40px;
      border-radius: var(--border-radius-small);

      mat-icon {
        font-size: 20px;
        width: 20px;
        height: 20px;
      }

      &[mat-flat-button] {
        background-color: var(--color-background-table-even);
        color: var(--color-text-primary);
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

        &:hover {
          background-color: var(--color-background-table-hover);
        }
        &.mat-primary,
        &.mat-mdc-button-primary {
          background-color: var(--color-primary);
          color: white;
          font-weight: bold;
          &:hover {
            background-color: var(--color-primary-dark);
          }
        }
      }

      &[mat-icon-button] {
        color: var(--color-text-secondary);
        &:disabled {
          color: var(--color-border);
        }
        &:not(:disabled):hover {
          color: var(--color-primary);
        }
      }
    }
  }

  @include breakpoint-down(md) {
    flex-direction: column;
    .pagination-info {
      margin-bottom: 10px;
    }
    .pagination-controls {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}