@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;

.filter-card {
  background-color: var(--color-background-light);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-small);
  padding: 20px;
  margin-bottom: 30px;

  h3 {
    color: var(--color-primary);
    margin-bottom: 20px;
    font-size: var(--font-size-large);
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint-up(md) {
      flex-direction: column;
      align-items: center;
    }
  }

  .filter-fields-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;

    @include breakpoint-up(md) {
      flex-direction: row;
      gap: 15px;
      align-items: flex-end;
      margin-bottom: 20px;
    }

    @include breakpoint-down(sm) {
      margin-bottom: 15px;
    }
  }

  .form-group {
    margin-bottom: 15px;

    @include breakpoint-up(md) {
      margin-bottom: 0;
      flex-basis: 30%;
      flex-grow: 1;
    }

    mat-form-field {
      width: 100%;
      .mat-mdc-text-field-wrapper {
        height: 50px;
        .mat-mdc-form-field-flex {
            height: 100%;
        }
      }
      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }
  }

  .price-filter-group {
    @include breakpoint-up(sm) {
      display: flex;
      gap: 10px;
    }

    @include breakpoint-up(md) {
      flex-basis: 40%;
      flex-grow: 1;
    }

    .price-input {
      flex-basis: 55%;
      flex-grow: 1;
    }

    .price-type-select {
      width: 150px;
      flex-basis: 45%;
      @include breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  .filter-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 400px;

    @include breakpoint-down(xs) {
      flex-direction: column;
      align-items: stretch;
    }

    button {
      @include button-style(var(--color-primary), white);
      padding: 0 15px;
      height: 40px;
      font-size: var(--font-size-base);
      flex-grow: 1;

      &[type="button"] {
        background-color: var(--color-secondary);
        &:hover {
          background-color: var(--color-secondary-dark);
        }
      }

      mat-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
        margin-right: 5px;
      }

      @include breakpoint-down(xs) {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        font-size: var(--font-size-small);
        padding: 0 10px;
      }
    }
  }
}