@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/variables' as *;

.home-container {
  padding: 20px;

  h1 {
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 30px;
    font-size: var(--font-size-heading);
  }

  .loading-spinner,
  .error-message,
  .no-data-message {
    text-align: center;
    padding: 20px;
    font-size: var(--font-size-medium);
    color: var(--color-text-secondary);

    mat-spinner {
      margin: 0 auto 15px;
    }

    button {
      margin-top: 15px;
    }
  }

  .error-message {
    color: var(--color-error);
    font-weight: bold;
  }

  .table-responsive {
    overflow-x: auto;
  }

  .books-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: 20px;

    th,
    td {
      border-bottom: 1px solid var(--color-border);
      padding: 12px 15px;
      text-align: left;
      vertical-align: middle;
      background-color: var(--color-background-light);
    }

    th {
      background-color: var(--color-primary);
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      font-size: var(--font-size-small);
      border-bottom: 2px solid var(--color-primary-dark);
    }

    tbody tr {
      background-color: var(--color-background-light);
      border-radius: var(--border-radius-small);
      overflow: hidden;
      box-shadow: var(--shadow-extra-small);
      transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

      &:hover {
        box-shadow: var(--shadow-small);
        transform: translateY(-2px);
      }
    }

    td {
      color: var(--color-text-primary);
      font-size: var(--font-size-base);

      .in-stock {
        color: var(--color-success);
        font-weight: bold;
      }

      .out-of-stock {
        color: var(--color-error);
        font-weight: bold;
      }

      button {
        @include button-reset();
        color: var(--color-primary);
        transition: color 0.2s ease-in-out;

        &:hover {
          color: var(--color-primary-dark);
        }
      }
    }

    th:first-child,
    td:first-child {
      text-align: center;
      
      @include breakpoint-up(md) {
        border-top-left-radius: var(--border-radius-small);
      }
      @include breakpoint-down(md) {
        background-color: var(--color-primary);
      color: white;
        text-align: right;
      }
    }
    th:last-child,
    td:last-child {
      @include breakpoint-up(md) {
        border-top-right-radius: var(--border-radius-small);
      }
    }

    @include breakpoint-down(md) {
      font-size: var(--font-size-small);

      th,
      td {
        padding: 8px 10px;
      }

      thead {
        display: none;
      }

      tr {
        display: block;
        margin-bottom: 15px;
        border: 1px solid var(--color-border);
        border-radius: 5px;
        background-color: var(--color-background-light);
        box-shadow: var(--shadow-extra-small);
      }

      td {
        display: block;
        text-align: right;
        padding-left: 50%;
        position: relative;
        border-bottom: 1px solid var(--color-border);
        &:last-child {
          border-bottom: none;
        }


        &:before {
          content: attr(data-label);
          position: absolute;
          left: 10px;
          width: 45%;
          padding-right: 10px;
          white-space: nowrap;
          text-align: left;
          font-weight: bold;
          color: var(--color-primary);
        }
      }
    }
  }
}