/* src/app/features/home/home.component.scss */
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/components/table' as *; // <-- ¡Importa el nuevo parcial de tabla!

.home-container {
  padding: 20px;

  h1 {
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 30px;
    font-size: var(--font-size-heading);
  }

  .loading-spinner,
  .error-message,
  .no-data-message {
    text-align: center;
    padding: 20px;
    font-size: var(--font-size-medium);
    color: var(--color-text-secondary);

    mat-spinner {
      margin: 0 auto 15px;
    }

    button {
      margin-top: 15px;
    }
  }

  .error-message {
    color: var(--color-error);
    font-weight: bold;
  }

  .table-responsive {
    overflow-x: auto;
  }

}