<div class="home-container">
  <app-book-filter [categories]="bookStore.categories()" [initialFilter]="bookStore.activeFilter()"
    (applyFilter)="onApplyBookFilter($event)" (resetFilter)="onResetBookFilter()"></app-book-filter>

  @if (bookStore.isLoading()) {
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
    <p>Cargando libros...</p>
  </div>
  }

  @if (bookStore.error()) {
  <div class="error-message">
    <p>Error: {{ bookStore.error() }}</p>
    <button mat-raised-button color="primary"
      (click)="bookStore.loadBooks(bookStore.activeFilter())">Reintentar</button>
  </div>
  }

  @if (!bookStore.isLoading() && bookStore.books().length > 0) {
  <div class="table-responsive">
    <table class="books-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Título</th>
          <th>Precio</th>
          <th>Disponible</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (book of bookStore.books(); track book.book_id; let i = $index) {
        <tr>
          <td data-label="#">{{ getBookIndex(i) }}</td>
          <td data-label="Título">{{ book.title }}</td>
          <td data-label="Precio">${{ book.price | number: '1.2-2' }}</td>
          <td data-label="Disponible">
            <span [class.in-stock]="book.stock" [class.out-of-stock]="!book.stock">
              {{ book.stock ? 'Sí' : 'No' }}
            </span>
          </td>
          <td data-label="Acciones">
            <button mat-icon-button color="primary" (click)="openBookDetails(book)" aria-label="Ver detalles del libro">
              <mat-icon>info</mat-icon>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <app-pagination [currentPage]="bookStore.currentPage()" [totalPages]="bookStore.totalPages()"
    [itemsPerPage]="bookStore.limitPerPage()" [totalItems]="bookStore.totalBooksCount()"
    (pageChange)="onPageChange($event)"></app-pagination>

  } @else if (!bookStore.isLoading() && !bookStore.error() && bookStore.books().length === 0) {
  <div class="no-data-message">
    <p>No se encontraron libros que coincidan con los filtros.</p>
    <button mat-raised-button color="primary" (click)="bookStore.resetFilter()">Cargar Todos los Libros</button>
  </div>
  }
</div>