@use './styles/abstracts/variables' as *;
@use './styles/abstracts/mixins' as *;
@import './styles/base/reset';
@import './styles/base/typography';

body {
  font-family: var(--font-family-base);
  margin: 0;
  background-color: var(--color-background-body);
  color: var(--color-text-primary);
}

.mat-mdc-dialog-container .mat-mdc-dialog-content {
  padding: 0 !important;
}

.book-details-dialog .mat-mdc-dialog-container {
  border-radius: var(--border-radius-large);
  overflow: hidden; 
}

button {
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #cccccc !important; 
    color: #666666 !important;
    pointer-events: none;
  }
}